

*{
margin:0px;
padding:0px;


}

.daohang a:hover {
 text-decoration: underline;
 color: #FFFF00;
}
BODY{background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;}

li{
	list-style:none;
}

a:link{
color:#555555;
text-decoration:none;
}
a:hover{
color:#366AB3;

}
a:visited{
color:#454545;
text-decoration:none;
}
#win1002{
width:1002px;
height:100%;
margin:0 auto;
}
#top{
float:left;
width:1002px;
height:86px;
}
  #top_l{
float:left;
width:263px;
height:86px;
}
  #top_r{
float:left;
width:739px;
height:86px;
background-image:url(http://www.ynshangji.com/images/top_bg.gif);
background-repeat:repeat-x;
} 
   #quick_link{
   float:left;
   widows:237px;
   height:18px;
   margin:9px 12px 0 490px;
   display:inline;
   background-color:#e6e6e6;
   color:#696969;
   }
   .quick_ico{
   float:left;
   width:56px;
   height:18px;
   padding-left:23px;
   background-image:url(http://www.ynshangji.com/images/quick_a.gif);
   background-position:left;
   background-repeat:no-repeat;
   line-height:18px;
   }
   #top_nav{
   float:left;
   width:739px;
   height:55px;
   }
   .top_tex{
	float:left;
	width:79px;
	height:23px;
	margin:27px 0 0 0;
	display:inline;
	font-size:13px;
	font-weight:bold;
	color:#5f5f5f;
	line-height:23px;
	text-align: center;
   }
   .top_tex a:link{
   color:#5f5f5f;
   }
   .top_tex a:hover{
   color:#000000;
   }

   .top_dep{
   float:left;
   width:2px;
   height:55px;
   background-image:url(http://www.ynshangji.com/images/top_dep.gif);
   }
#flash{
float:left;
width:1002px;
height:190px;
}
#body{
float:left;
width:1002px;
height:100%;
}
#UpBody{
float:left;
width:1002px;
height:100%;
}
	#UpBodyLeft{
	float:left;
	width:178px;
	height:100%;
	margin-right:4px;
	display:inline;
	border-right:1px #c5c5c5 solid;
	background:#f4f4f4;
	}
		#UpBodyLeftTitle{
		float:left;
		width:148px;
		height:30px;
		border-bottom:1px #c5c5c5 solid;
		background:url(http://www.ynshangji.com/images/titleDz.gif) no-repeat 10% 50%;
		line-height:31px;
		padding-left:30px;
		font-size:14px;
		font-weight:bold;
		}
		#UpBodyLeftUl{
		float:left;
		width:178px;
		height:100%;
		}
		#UpBodyLeftUl ul{
		list-style:none;
		}
		#UpBodyLeftUl ul li{
		border-bottom:1px #c5c5c5 solid;
		line-height:30px;
		text-align:right;
		padding-right:23px;
		background:url(http://www.ynshangji.com/images/dz.gif) no-repeat 96% 50%;
		}
	#UpBodyRight{
	float:left;
	width:819px;
	height:100%;
	}
	#UpBodyBanner{
	float:left;
	width:819px;
	height:150px;
	}
	#UpBodyInfo{
	float:left;
	width:819px;
	height:100%;
	}
		#UpBodyInfoLeft{
		float:left;
		width:670px;
		height:100%;
		}
			#UpBodyInfoHead{
			float:left;
			width:670px;
			height:50px;
			}
				#UpBodyInfoHeadBlueNav{
				float:left;
				padding-left:25px;
				width:645px;
				height:25px;
				background:url(http://www.ynshangji.com/images/jt.gif) no-repeat 0 50%;
				line-height:25px;
				color:#036caf;
				font-size:14px;
				font-weight:bold;
				}
				#UpBodyInfoHeadTitle{
				float:left;
				padding-left:10px;
				margin:5px 0 0 0;
				width:660px;
				height:20px;
				background:#424242;
				line-height:20px;
				color:#FFFFFF;
				font-weight:bold;
				}
				#UpBodyInfoHeadInfo{
				float:left;
				width:670px;
				height:100%;
				}
				#UpBodyInfoHeadInfo ul{
				list-style:none;}
				#UpBodyInfoHeadInfo ul li{
				line-height:25px;
				border-bottom:1px #f2f2f2 solid;
				}
				.oltitle{
				float:left;
				width:530px;
				padding-left:10px;
				background-image:url(http://www.ynshangji.com/images/li.gif);
				background-position:left;
				background-repeat:no-repeat;
				margin-left:10px;
				display:inline;
				}
				.oltime{
				float:left;
				width:70px;
				}
				#UpBodyInfoHeadInfoPageList{
				float:left;
				margin:10px 0 0 0;
				width:670px;
				height:25px;
				border-top:1px #d8d8d8 solid;
				background:#e5e5e5;
				line-height:25px;
				text-align:center;
				}
		#UpBodyInfoRight{
		float:left;
		padding-top:26px;
		width:147px;
		height:100%;
		background:url(jhttp://www.ynshangji.com/images/jt.gif) no-repeat top;
		}
		#UpBodyInfoRight ul{
		margin:0 auto;
		width:90px;
		list-style:none;
		}
		#UpBodyInfoRight ul li{
		margin:6px 0 0 0;
		width:90px;
		height:21px;
		color:#de5302;
		border:1px #fae3ad solid;
		background:#fcf9e6;
		line-height:21px;
		text-align:center;
		}
#left{
float:left;
width:209px;
height:452px;
background-image:url(http://www.ynshangji.com/images/left_bg.gif);
background-repeat:repeat-y;
margin:0 6px 0 0;
display:inline;
}
  #left1{
  float:left;
  width:201px;
  height:210px;
  background-image:url(http://www.ynshangji.com/images/left1.gif);
  background-repeat:no-repeat;
  margin:0 0 0 8px;
  display:inline;
  }
    #left1_tex{
	float:left;
	width:161px;
	height:124px;
	padding:50px 20px 36px 2px;
	}
	#left1_tex ul{
	list-style:none;
	}
	#left1_tex ul li{
	float:left;
	width:160px;
	font-family:"å®‹ä½“";
	line-height:24px;
	color:#555555;
	margin:0 0 0 10px;
	display:inline;
	padding:0 0 0 10px;
	background-image:url(http://www.ynshangji.com/images/li2.gif);
	background-position:2px;
	background-repeat:no-repeat;
	}
  #left2{
  float:left;
  width:191px;
  height:63px;
  margin:0 0 0 8px;
  display:inline;
  }
  #left2 ul{
  list-style:none;
  }
  #left2 ul li{
  float:left;
  width:191px;
  height:63px;
  margin:10px 0 0 0;
  display:inline;
  }
#center{
float:left;
width:521px;
height:452px;
margin:0 0 0 0;
display:inline;
}
 #cent_new1{
 float:left;
 width:521px;
 height:35px;
 cursor:hand;
 }
 #cent_new2{
 float:left;
 width:521px;
 height:124px;
 }
   #new_pic{
   float:left;
   width:156px;
   height:110px;
   border:solid 1px #d3d3d3;
   padding:2px;
   margin:6px 8px 4px 0;
   display:inline;
   }
   #new_tex{
   float:left;
   width:343px;
   height:110px;
   margin:6px 6px 4px 0;
   display:inline;
   }
   #new_tex ul{
   list-style:none;
   }
   #new_tex ul li{
   float:left;
   font-family:"å®‹ä½“";
   line-height:23px;
   font-size:12px;
   font-weight:bold;
   color:#fb0a03;
   }
   #new_tex span{
   float:left;
   width:343px;
   font-family:"å®‹ä½“";
   font-size:12px;
   line-height:20px;
   color:#555555;
   }
   #new_tex span a{
	color:#555555;
	text-decoration: none;   
   }
#center_new3{
float:left;
width:509px;
height:122px;
margin:0 8px 2px 4px;
display:inline;
}
  #new3_list{
  float:left;
  width:509px;
  }
  #new3_list ul{
  list-style:none;
  }
  #new3_list ul li{
	float:left;
	width:499px;
	font-family:"å®‹ä½“";
	font-size:12px;
	line-height:23px;
	color:#555555;
	border-bottom:solid 1px #eeeeee;
	padding:0 0 0 10px;
	display:inline;
	background-image:url(http://www.ynshangji.com/images/li.gif);
	background-repeat:no-repeat;
	background-position: left;
  }
#center_new4{
float:left;
width:521px;
height:163px;
margin:4px 0 0 0;
display:inline;
}
  #new4_left{
  float:left;
  width:258px;
  height:155px;
  }
    #lef_tit{
	float:left;
	width:258px;
	height:26px;
	cursor:hand;
	}
	#lef_list{
	float:left;
	width:250px;
	margin:4px 0 0 0;
	display:inline;
	}
	#lef_list ul{
	list-style:none;
	}
	#lef_list ul li{
	float:left;
	width:230px;
	font-family:"å®‹ä½“";
	line-height:24px;
	color:#555555;
	margin:0 0 0 10px;
	display:inline;
	padding:0 0 0 10px;
	background-image:url(http://www.ynshangji.com/images/li2.gif);
	background-position:2px;
	background-repeat:no-repeat;
	}
  #new4_right{
  float:left;
  width:258px;
  margin:0 0 0 5px;
  display:inline;
  height:155px;
  }
   
#right{
float:left;
width:254px;
height:452px;
margin:0 6px 0 0;
display:inline;
}
 #right_tit{
 float:left;
 width:254px;
 height:27px;
 background-image:url(http://www.ynshangji.com/images/right1.gif);
 }
 #right_pic{
 float:left;
 width:246px;
 height:173px;
 border:solid 1px #bbbbbb;
 padding:3px;
 background-color:#f9f9f9;
 }
 #right1{
 float:left;
 width:254px;
 height:43px;
 margin:6px 0 0 0;
 display:inline;
 }
 #right2{
 float:left;
 width:254px;
 height:43px;
 margin:6px 0 0 0;
 display:inline;
 }
 #right3{
 float:left;
 width:252px;
 height:107px;
 border:solid 1px #dedede;
 background-color:#f3f3f3;
 margin:6px 0 0 0;
 display:inline;
 }
 #right3 ul{
 list-style:none;
 }
 #right3 ul li{
 float:left;
 margin:3px 4px 0 4px;
 display:inline;
 width:243px;
 height:50px;
 }
 #right_input{
 float:left;
 width:254px;
 height:21px;
 margin:6px 0 0 0;
 }
#foot{
float:left;
width:1002px;
height:86px;
background-image:url(http://www.ynshangji.com/images/foot_bg.gif);
background-repeat:repeat-x;
}
 #foot_tex{
	float:left;
	width:550px;
	height:60px;
	padding:13px 226px 13px 226px;
	font-family:"å®‹ä½“";
	font-size:12px;
	line-height:20px;
	color:#555555;
	text-align: center;
 }
 
 A.style2:link { 
text-decoration: none; 
color:#ffffff; 
    font-family: ËÎÌå;
    font-weight:bold;
    font-size: 14px;
} 
A.style2:visited { 
text-decoration: none; 
color: #ffffff; 
    font-family: ËÎÌå;
    font-weight:bold;
    font-size: 14px;
} 
A.style2:active { 
text-decoration: none; 
color: #ffffff; 
    font-family: ËÎÌå;
    font-weight:bold;
    font-size: 14px;
} 
A.style2:hover { 
text-decoration: none; 
color: #ffffff; 
    font-family: ËÎÌå;
    font-weight:bold;
    font-size: 14px;
} 
 A.style2:hover {
 text-decoration: none; 
    color: #FFFF00;
    font-family: ËÎÌå;
    font-weight:bold;
    font-size: 14px;
}

 A.style3:link { 
text-decoration: none; 
color:#3366FF; 
    font-family: ËÎÌå;
    font-size: 12px;
} 
A.style3:visited { 
text-decoration: none; 
color: #3366FF; 
    font-family: ËÎÌå;
    font-size: 12px;
} 
A.style3:active { 
text-decoration: none; 
color: #3366FF; 
    font-family: ËÎÌå;
    font-size: 12px;
} 
A.style3:hover { 
text-decoration: none; 
color: #FF9933; 
    font-family: ËÎÌå;
    font-size: 12px;
} 
 A.style3:hover {
 text-decoration: none; 
    color: #FF9933;
    font-family: ËÎÌå;
    font-size: 12px;
}

	.ts-1 {
	border: none;
	height: 154px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: left;
	width: 995px;
}
	.ts1000 {
	border: none;
	height: 36px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: left;
	width: 980px;
}

.ts-1-1 {
	background-color: #f9f9f9;
	border: none;
	height: 150px;
	left: 2px;
	padding: 0px;
	position: absolute;
	top: 2px;
	width: 991px;
}

.ts-2 {
	border: none;
	height: 150px;
	position: relative;
	text-align: left;
	width: 991px;
}

.ts-2-1 {
	background-color: #e8f3fa;
	border: none;
	height: 24px;
	left: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 542px;
}

.ts-3 {
	border: none;
	height: 24px;
	position: relative;
	text-align: left;
	width: 531px;
}

.ts-3-1 {
	border: none;
	height: 20px;
	left: 2px;
	padding: 0px;
	position: absolute;
	top: 2px;
	width: 527px;
}

.ts-4 {
	border: none;
	height: 20px;
	position: relative;
	text-align: left;
	width: 527px;
}

.ts-4-1 {
	border: none;
	color: #000000;
	height: 16px;
	left: 2px;
	line-height: 16px;
	padding: 0px;
	position: absolute;
	text-align: left;
	top: 2px;
	width: 223px;
}

.ts-4-2 {
	border: none;
	height: 16px;
	left: 227px;
	line-height: 16px;
	padding: 0px;
	position: absolute;
	top: 2px;
	width: 298px;
}

.ts-2-2 {
	background-color: #e8f3fa;
	border: none;
	color: #666666;
	height: 24px;
	left: 542px;
	line-height: 24px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 5px;
	padding-top: 0px;
	position: absolute;
	top: 0px;
	width: 444px;
}

.ts-2-3 {
	background-color: #b4dcea;
	border: none;
	height: 1px;
	left: 0px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 24px;
	width: 991px;
}

.ts-2-4 {
	background-color: #ffffff;
	border: none;
	height: 125px;
	left: 0px;
	padding: 0px;
	position: absolute;
	top: 25px;
	width: 991px;
}

.ts-5 {
	border: none;
	height: 83px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: left;
	width: 981px;
}

.ts-5-1 {
	border: none;
	height: 1px;
	left: 0px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 37px;
}

.ts-5-2 {
	border: none;
	height: 1px;
	left: 37px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 49px;
}

.ts-5-3 {
	border: none;
	height: 1px;
	left: 86px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 93px;
}

.ts-5-4 {
	border: none;
	height: 1px;
	left: 179px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 87px;
}

.ts-5-5 {
	border: none;
	height: 1px;
	left: 266px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 37px;
}

.ts-5-6 {
	border: none;
	height: 1px;
	left: 303px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 9px;
}

.ts-5-7 {
	border: none;
	height: 1px;
	left: 312px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 12px;
}

.ts-5-8 {
	border: none;
	height: 1px;
	left: 324px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 29px;
}

.ts-5-9 {
	border: none;
	height: 1px;
	left: 353px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 22px;
}

.ts-5-10 {
	border: none;
	height: 1px;
	left: 375px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 9px;
}

.ts-5-11 {
	border: none;
	height: 1px;
	left: 384px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 52px;
}

.ts-5-12 {
	border: none;
	height: 1px;
	left: 436px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 4px;
}

.ts-5-13 {
	border: none;
	height: 1px;
	left: 440px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 55px;
}

.ts-5-14 {
	border: none;
	height: 1px;
	left: 495px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 4px;
}

.ts-5-15 {
	border: none;
	height: 1px;
	left: 499px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 32px;
}

.ts-5-16 {
	border: none;
	height: 1px;
	left: 531px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 19px;
}

.ts-5-17 {
	border: none;
	height: 1px;
	left: 550px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 67px;
}

.ts-5-18 {
	border: none;
	height: 1px;
	left: 617px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 91px;
}

.ts-5-19 {
	border: none;
	height: 1px;
	left: 708px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 6px;
}

.ts-5-20 {
	border: none;
	height: 1px;
	left: 714px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 8px;
}

.ts-5-21 {
	border: none;
	height: 1px;
	left: 722px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 72px;
}

.ts-5-22 {
	border: none;
	height: 1px;
	left: 794px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 30px;
}

.ts-5-23 {
	border: none;
	height: 1px;
	left: 824px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 11px;
}

.ts-5-24 {
	border: none;
	height: 1px;
	left: 835px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 17px;
}

.ts-5-25 {
	border: none;
	height: 1px;
	left: 852px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 59px;
}

.ts-5-26 {
	border: none;
	height: 1px;
	left: 911px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 70px;
}

.ts-5-27 {
	border: none;
	height: 82px;
	left: 0px;
	padding: 0px;
	position: absolute;
	top: 1px;
	width: 303px;
}

.ts-5-28 {
	border: none;
	height: 20px;
	left: 303px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 1px;
	width: 678px;
}

.ts-5-29 {
	border: none;
	height: 37px;
	left: 303px;
	padding: 0px;
	position: absolute;
	top: 21px;
	width: 678px;
}

.ts-6 {
	border: none;
	height: 35px;
	margin-top: 1px;
	position: relative;
	text-align: left;
	width: 678px;
}

.ts-6-1 {
	border: none;
	height: 31px;
	left: 2px;
	line-height: 31px;
	padding: 0px;
	position: absolute;
	top: 2px;
	width: 4px;
}

.ts-6-2 {
	border: none;
	height: 31px;
	left: 8px;
	padding: 0px;
	position: absolute;
	top: 2px;
	width: 483px;
}

.ts-7 {
	background-image: url('../image/ssk.gif');
	border: none;
	height: 31px;
	position: relative;
	text-align: left;
	width: 470px;
}

.ts-7-1 {
	border: none;
	height: 27px;
	left: 2px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 2px;
	width: 18px;
}

.ts-7-2 {
	border: none;
	height: 27px;
	left: 22px;
	line-height: 27px;
	padding: 0px;
	position: absolute;
	top: 2px;
	width: 363px;
}

.ts-7-3 {
	background-color: #1283d7;
	border: none;
	height: 27px;
	left: 387px;
	line-height: 27px;
	padding: 0px;
	position: absolute;
	top: 2px;
	width: 81px;
}

.ts-6-3 {
	border: none;
	height: 31px;
	left: 493px;
	padding: 0px;
	position: absolute;
	top: 2px;
	width: 183px;
}

.ts-5-30 {
	border: none;
	height: 25px;
	left: 303px;
	padding: 0px;
	position: absolute;
	top: 58px;
	width: 678px;
}

.ts-8 {
	border: none;
	height: 25px;
	position: relative;
	text-align: left;
	width: 678px;
}

.ts-8-1 {
	border: none;
	height: 21px;
	left: 2px;
	line-height: 21px;
	padding: 0px;
	position: absolute;
	top: 2px;
	width: 674px;
}

.ts-9 {
	background-image: url('../image/bj_index.gif');
	border: none;
	height: 42px;
	position: relative;
	text-align: left;
	width: 984px;
}

.ts-9-1 {
	border: none;
	height: 38px;
	left: 2px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 2px;
	width: 4px;
}

.ts-9-2 {
	border: none;
	height: 38px;
	left: 8px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 2px;
	width: 19px;
}

.ts-9-3 {
	border: none;
	height: 38px;
	left: 29px;
	padding: 0px;
	position: absolute;
	top: 2px;
	width: 67px;
}

.ts-10 {
	border: none;
	height: 27px;
	margin-top: 5px;
	position: relative;
	text-align: left;
	width: 67px;
}

.ts-10-1 {
	background-color: #e8f3fa;
	border: none;
	cursor: hand;
	height: 23px;
	left: 2px;
	line-height: 23px;
	padding: 0px;
	position: absolute;
	top: 2px;
	width: 63px;
}

.ts-9-4 {
	border: none;
	height: 38px;
	left: 98px;
	line-height: 38px;
	padding: 0px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 93px;
}

.ts-9-5 {
	border: none;
	height: 38px;
	left: 193px;
	line-height: 38px;
	padding: 0px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 87px;
}

.ts-9-6 {
	border: none;
	height: 38px;
	left: 283px;
	line-height: 38px;
	padding: 0px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 92px;
}

.ts-9-7 {
	border: none;
	height: 38px;
	left: 377px;
	line-height: 38px;
	padding: 0px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 92px;
}

.ts-9-8 {
	border: none;
	height: 38px;
	left: 472px;
	line-height: 38px;
	padding: 0px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 85px;
}

.ts-9-9 {
	border: none;
	height: 38px;
	left: 559px;
	line-height: 38px;
	padding: 0px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 72px;
}

.ts-9-10 {
	border: none;
	height: 38px;
	left: 633px;
	line-height: 38px;
	padding: 0px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 73px;
}

.ts-9-11 {
	border: none;
	height: 38px;
	left: 708px;
	line-height: 38px;
	padding: 0px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 78px;
}

.ts-9-12 {
	border: none;
	height: 38px;
	left: 789px;
	line-height: 38px;
	padding: 0px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 61px;
}

.ts-9-13 {
	border: none;
	height: 38px;
	left: 852px;
	line-height: 38px;
	padding: 0px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 63px;
}

.ts-9-14 {
	border: none;
	height: 38px;
	left: 917px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 65px;
}